html{
    font-family: Raleway;
}

body{
    background-image: url("background.jpg");
    font-family: Raleway;
    
}

.navbar{
    opacity: 0.23;

}

.navbar:hover{
    opacity : 1;
    transition: all 320ms ease-out;
}

p{
    color:white;
    font-family: Raleway;
}

.row{
    margin-top:30vh;
    font-family: Raleway;
}

.colInscription{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Raleway;
}
.inputIndex{
    margin: 5px;
    border-radius: 10px;
}
.colInscription:hover{
    border : 9px double white;
    background :rgb(117, 9, 9);
    transition: all 520ms ease-out; 
}

h4{
    color : white;
    font-family: Raleway;
}

.buttonSubmit {
    background-color: #f44336; 
    color: white; 
    border: 2px solid white;
    font-family: Raleway;
  }
  
  .buttonSubmit:hover {
    background-color: white ;
    
    color:#f44336;
  }

  .tchatTitle{
      text-align: center;
      font-family: Raleway;
       
    
  }
  .tchat {
      transform : translateY(-250px);
      
  }
  .tchatMessages{
    max-height: 500px;
    overflow-y: auto;
    font-family: Raleway;
  }

  .labelMessage{
      color:white;
  }

  .formMessage {
    transform : translateY(-480px);
    font-family: Raleway;
}

.modif{
    text-align: center;
}